.cards_container {
  display: flex;
  flex-wrap: wrap;
}
.black_card {
  height: 350px;
  width: 240px;
  background: black;
  box-shadow: 0px 0px 8px 3px gray;
  border-radius: 10px;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  color: white;
  position: relative;
}
.white_card {
  height: 350px;
  width: 240px;
  background: white;
  box-shadow: 0px 0px 8px 3px gray;
  border-radius: 10px;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  color: black;
  position: relative;
}
.question_text {
  padding: 18px;
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  height: 235px;
}
.book_icon {
  background: url('../../Images/icons/card_icon.png') no-repeat center center;
  background-size: cover;
  height: 50px;
  width: 50px;
}
.pick_num_cards {
  font-size: 10px;
  width: 50px;
}
.devs_against_humanity {
  font-size: 10px;
}
.icon_section {
  display: flex;
  align-items: center;
}
.bottom_card_div {
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: 50px;
  width: 100%;
}
.white_bottom_card_div {
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 50px;
  width: 100%;
}